.clock {
    display: flex;
    flex-direction: row;
    font-size: 6rem;
    text-align: center;
    justify-content: center;
}

@media (max-width: 660px) {
    .clock {
        flex-direction: column;
    }

    .clock-colon {
        display: none;
    }
}